<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Results</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/home.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
</head>

<body>
  <!-- Header -->
  <div class="header">
    <div class="container">
      <h1 id="headerTitle">Killabyte</h1>
    </div>
  </div>

  <!-- Main content -->
  <div class="content">
    <div class="wrapper">
      <div class="container">
        <br>
        <div class="row">
          <!-- <div class="col-md-8 col-sm-8 col-xs-6 search locationField">
            <input placeholder="Search..." type="text" id="searchBar autocomplete" onFocus="geolocate()">
          </div> -->
          <div id="locationField" class="col-md-8 col-sm-8 col-xs-6">
            <input id="autocomplete" placeholder="Enter your address..." onFocus="geolocate()" type="text"></input>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 miles">
            <select class="milesSelect">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>25</option>
            </select>
            <label class="milesLabel">&nbsp; mi</label>
          </div>
        </div>
        <br>
      </div>
    </div>

    <!-- Middle Content -->
    <div id="middle-content">
    </div>

  </div>

  <!-- Footer Content -->
  <div class="footer">
    <div>
      <p id="copyright">&#169; 2017 <i>Killabyte</i></p>
    </div>
  </div>

  <script src="js/index.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCe0I4peOv_U0Ud2e6yNpuWtgRTpalG8Y&libraries=places&callback=initAutocomplete"
    async defer></script>
</body>

</html>