<div class="container">
  <div class="row text-center">
    <h3>AskTheNeighbor gives you the most common information that you would want when you are moving to a new address. Such as...</h3>
  </div>
  <div class="row">
    <div class="col-md-4 text-center home-section" id="home-properties-buy">
      <img src="images/home.png">
      <h3>Properties - Buy</h3>
      <p>Search for properties you can buy with their prices, living space, lot size, etc.</p>
    </div>
    <div class="col-md-4 text-center home-section" id="home-properties-rent">
      <img src="images/apartment.png">
      <h3>Properties - Rent</h3>
      <p>Search for properties you can buy with their prices, living space, etc.</p>
    </div>
    <div class="col-md-4 text-center home-section" id="home-crime">
      <img src="images/crime.png">
      <h3>Crime</h3>
      <p>Search for crime in the area like sex offenders, burglaries, breakins, etc.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center home-section" id="home-amenities">
      <img src="images/store.png">
      <h3>Amenities</h3>
      <p>Search for restaurants, grocery stores, banks, etc. in the area.</p>
    </div>
    <div class="col-md-4 text-center home-section" id="home-weather">
      <img src="images/weather.png">
      <h3>Weather</h3>
      <p>Look at the current weather for the next few days for the weather each season.</p>
    </div>
    <div class="col-md-4 text-center home-section" id="home-transportation">
      <img src="images/bus.png">
      <h3>Transportation</h3>
      <p>Discover all of the nearby highways, airports, etc. in the area.</p>
    </div>
  </div>
</div>
</div>