.header{
  background-color: #6D7993;
  margin: 0 auto;
  text-align: center;
}

#headerTitle{
  padding-bottom: 10px;
  color: white;
}

.content {
  padding: 0 10px;
}

#searchBar{
  width: 100%;
  height: 25px;
}

.milesSelect{
  height: 40px;
  width: 79.5%;
  font-size: 20px;
}

.milesLabel{
  font-size: 20px;
}

.filtersBox{
  border: 1px solid #6D7993;
}

.filtersExtraBox{
  border: 1px solid #6D7993;
}

.filtersExtraBoxChoices{
  margin: 20px;
}

.filterChoices{
  text-align: center;
  padding: 20px;
}

.btnAmenities, .btnTransit, .btnBuy, .btnRent, .btnCheckToggle, .btnAdvanced{
  transition: all 150ms ease-in-out;
}

.btnAmenities:hover, .btnTransit:hover, .btnBuy:hover, .btnRent:hover, .btnCheckToggle:hover, .btnAdvanced:hover{
  background-color: #4C576F;
}

/* Middle Content */
.weather{
  margin-top: 20px;
  border: 1px solid #6D7993;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

#weatherTitle{
  text-align: center;
}

.map{
  margin-top: 20px;
  border: 1px solid #6D7993;
  padding-bottom: 20px;
}

#mapTitle, #crimeTitle{
  text-align: center;
}

.crimeList{
  margin-top: 20px;
  margin-bottom: 200px;
  border: 1px solid #6D7993;
  height: 350px;
}

#copyright{
  color: white;
  text-align: center;
  margin-top: 27px;
}

.footer{
  background-color: black;
  margin-top: 20px;
  padding-top:1px;
  width: 100%;
  height: 75px;
  bottom: 0;
}

/* SLACK CSS FOR BUTTONS */
.btn-filter {
    border: 3px solid #6D7993;
    border-radius: 5px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.btn-filter-checked {
    background: #6D7993;
    color: white;
}

.btn-filter-unchecked {
    background: #fff;
    color: #6D7993;
}

.btn-filter-checked > img {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
}

.filterName{
  text-align: center;
}

.btn-filter-med {
    width: 200;
    height: 60;
}

/* GOOGLE PLACES API CSS */
#autocomplete {
  height: 40px;
  width: 100%;
  font-size: 20px;
}

#locationField {
  height: 20px;
  margin-bottom: 2px;
}


/* MAP CSS */
#map {
  height: 400px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.center-row {
    margin: auto; 
    max-width: 500px;
}

#map-errors p {
  font-size: 15px;
}